<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.multitenancy_sample/menu.application" insertBefore="administration">
        <item screen="mtensmp_User.browse" caption="msg://com.company.multitenancy_sample.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="mtensmp_TestTenantEntity.browse"
              caption="msg://com.company.multitenancy_sample.screen.testtenantentity/testTenantEntityBrowse.menu"/>
    </menu>

</menu-config>